*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.btn{
    display: block;
    margin: 5px;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    border: none;
    color: white;
    transition: all .5s;
}

.success{
    transition: all .5s;
    background-color: forestgreen;
}
.danger{
    transition: all .5s;
    background-color: orangered;
}
.warning{
    transition: all .5s;
    background-color: orange;
}