*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 2rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.online{
    transition: all .5s;
    background-color: forestgreen;
}
.offline{
    transition: all .5s;
    background-color: orangered;
}
